/*-- scss:defaults --*/

// 导入 Noto Serif SC 字体作为中文字符的字体
@import 'https://fonts.googleapis.com/css2?family=Noto+Serif+SC&display=swap';

// 导入 Merriweather 字体作为英文字符的字体
@import 'https://fonts.googleapis.com/css2?family=Merriweather&display=swap';

// 定义默认字体族
$font-family-default: "Merriweather", sans-serif;
$font-family-default-serif: "Merriweather", sans-serif;

// 定义中文字体族
$font-family-chinese: "Noto Serif SC", serif;

// 定义英文字体族
$font-family-english: "Merriweather", serif;

$primary: #2c2c2c;

/*-- scss:rules --*/

kbd, .kbd{
  background-color: #222222 !important;
}

// .navbar {
//  padding-top: 0.5rem;
//  padding-bottom: 0.5rem;
// }

body {
  font-family: $font-family-default;

  &.chinese {
    font-family: $font-family-chinese;
  }

  &.english {
    font-family: $font-family-english;
  }

  // 修改blockquote部分的字体为正常（取消斜体）
  blockquote {
    font-family: $font-family-default;
    font-style: normal;
  }
}


figure {
  text-align: center;

  figcaption {
    text-align: center;
  }
}
